
/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	line-height: 1.5;
	color:black;
    font-family: sans-serif;
    margin:0;
}
/*liststyle none removes icons to the left of the list*/
ul {
	list-style: none;
    padding: 0;
    margin: 0;
}

p {
    font-size: .90em;
    margin-bottom: 1.8em;
}

img {
	max-width: 100;
}

/* --Link Styles-- */
a {
	color: #0499ff;
	text-decoration: none;
}
/*changes color to standard hover color*/
a:hover {
	color: #6633ff;
}

 
h2 {
    font-family: sans-serif;
    font-size: 32px;
    line-height: 1.4em;
    margin: 0 0 .4em;
    font-weight: bold;
}


/* ================================= 
  Base Layout Styles
==================================== */

.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
}


/*centers the text in both the banner and main footer containers*/
.banner,
.main-footer {
    text-align: center;
}

.banner {
    color: #fff;
	background: orange;
	padding: 1.2em 0;
	margin-bottom: 48px;
}

.cheese-inventory {
    flex:1;
}

.cheese-name {
 font-size: 26px;
 font-family: Arial, Helvetica, sans-serif;
}

.cheese-price {
font-weight: bold;
}

.main-footer {
	background: #ec9d1e;
}

/*this code affect anchor tag in the store-name and .main-nav containers*/
.store-name a,
.main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}

/*default footer list items in a column*/
.footer-list a,
.copyright p {
    text-align: center;
    display: block;
    padding: 5px 5px;
}

.cheese-inventory {
	display: flex;
	flex-direction: column;
}



/* ================================= 
  Media Queries
==================================== */

/*mobile first approach uses min-width media*/
		
/* Target viewport sizes 700px and wider */
@media (min-width: 700px) {

    .main-header,
    .main-nav {
        display: flex;
    }
    .main-header {
        flex-direction: column;
        align-items: center;
    }
}

/* Target viewport sizes 992px and wider */
@media (min-width: 992px) {
    /*code should switch column flexbox layout to row style which takes up screen space better */
    .main-header {
        flex-direction:row;
        justify-content: space-between;
    }
}

